<!doctype html>
<html lang="en">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% if cell %}
      {{cell.name}} @ {{uvn_id.name}}
      {% else %}
      {{uvn_id.name}}
      {% endif %}
    </title>
    <style>
{% include "www/index/_style.css" with context %}
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="fixed-top">
        {% include "www/index/_title.html" with context %}
        {# include "www/index/_top_menu_tabs.html" with context #}
      </div>
      <div class="row flex-nowrap pt-5 pt-sm-0">
        {# include "www/index/_sidebar.html" with context #}
        <!-- <div class="col-12 col-sm-8 col-lg-9 col-xl-10 pb-3 pt-5"> -->
        <div class="col-12 pb-3 pt-5">
          {% include "www/index/_notifications.html" with context %}
          <div class="tab-content" id="panels">
            {% include "www/index/_status_graphs.html" with context %}
            {% include "www/index/_status_agents.html" with context %}
            {% include "www/index/_status_networks.html" with context %}
            {% include "www/index/_status_vpns.html" with context %}
            {% if router -%}
            {% include "www/index/_status_router.html" with context %}
            {% endif %}
            {# include "www/index/_status.html" with context #}
            {# include "www/index/_config.html" with context #}
            {% include "www/index/_config_uvn.html" with context %}
            {% include "www/index/_config_cells.html" with context %}
            {% include "www/index/_config_particles.html" with context %}
            {% include "www/index/_config_vpn.html" with context %}
            {% include "www/index/_config_backbone.html" with context %}
            {% include "www/index/_config_ports.html" with context %}
          </div>
          {% include "www/index/_footer.html" with context %}
        </div>
      </div>
      <div class="fixed-bottom">
        {% include "www/index/_top_menu_tabs.html" with context %}
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
