{%if not peers.status_fully_routed_uvn %}
{% if peers.local.reachable_networks and peers.local.unreachable_networks %}
<div class="alert alert-warning" role="alert">
  {{peers.local.unreachable_networks|length}} network{%if peers.local.unreachable_networks|length != 1%}s are{%else%} is{%endif%} unreachable:
  {%for lan in peers.local.unreachable_networks %}{{lan.nic.subnet.network_address}}/{{lan.nic.netmask}}{%if not loop.last%}, {%endif%}{%endfor%}
</div>
{% else %}
<div class="alert alert-warning" role="alert">
  Some networks are currently unreachable.
</div>
{% endif %}
{% endif %}
{% if peers_offline %}
{%   if peers_online %}
<div class="alert alert-warning" role="alert">
  {{peers_offline}} peer{%if peers_offline != 1%}s are{%else%} is{%endif%} offline.
</div>
{%   else %}
<div class="alert alert-warning" role="alert">
  All peers are currently offline!
</div>
{%   endif %}{# if peers_online #}
{% endif %}{# if peers_offline #}
<span class="text-bg-warning badge rounded-pill ms-2">
  <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M6 20L18 20" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 4V16M12 16L15.5 12.5M12 16L8.5 12.5" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
  Rx: {{vpn_stats["traffic"]["rx"] | humanbytes}}
</span>

<span class="text-bg-warning badge rounded-pill ms-2">
  <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M6 20L18 20" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 16V4M12 4L15.5 7.5M12 4L8.5 7.5" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
  Tx: {{vpn_stats["traffic"]["tx"] | humanbytes}}
</span>
