{%if not peers.status_fully_routed_uvn %}
{% if peers.local.reachable_networks and peers.local.unreachable_networks %}
<div class="alert alert-warning" role="alert">
  {{peers.local.unreachable_networks|length}} network{%if peers.local.unreachable_networks|length != 1%}s are{%else%} is{%endif%} unreachable:
  {%for lan in peers.local.unreachable_networks %}{{lan.nic.subnet.network_address}}/{{lan.nic.netmask}}{%if not loop.last%}, {%endif%}{%endfor%}
</div>
{% else %}
<div class="alert alert-warning" role="alert">
  Some networks are currently unreachable.
</div>
{% endif %}
{% endif %}
{% if peers_offline %}
{%   if peers_online %}
<div class="alert alert-warning" role="alert">
  {{peers_offline}} peer{%if peers_offline != 1%}s are{%else%} is{%endif%} offline.
</div>
{%   else %}
<div class="alert alert-warning" role="alert">
  All peers are currently offline!
</div>
{%   endif %}{# if peers_online #}
{% endif %}{# if peers_offline #}
