<div id="status-router"
    class="tab-pane fade pt-5 mt-4"
    role="tabpanel"
    aria-labelledby="tab-status-router"
    tabindex="0">
  <h3 class="mb-2">
    <!-- <svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M12 12L4 4M4 4V8M4 4H8" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 12L20 4M20 4V8M20 4H16" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 12L4 20M4 20V16M4 20H8" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 12L20 20M20 20V16M20 20H16" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg> -->
    <i class="fs-4 bi bi-dpad"></i>
    <span class="d-inline-block ms-1 h4">Router</span>
  </h3>
  <div class="p-2"
        id="router-status">
    <div class="container-fluid accordion">
      <div class="row accordion-item">
        <div class="col-lg-12">
          <h4 class="accordion-header">
            <button class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#ospf-summary"
                aria-expanded="false"
                aria-controls="ospf-summary">
              <svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M12 12L4 4M4 4V8M4 4H8" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 12L20 4M20 4V8M20 4H16" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 12L4 20M4 20V16M4 20H8" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 12L20 20M20 20V16M20 20H16" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
              <span class="d-inline-block px-2 m-0 h4">OSPF Summary</span>
            </button>
          </h4>
          <div class="accordion-collapse collapse"
                id="ospf-summary">
             {# <pre class="border rounded bg-body-secondary mt-3 p-3">{{router.ospf_summary}}</pre> #}
             <div class="ratio ratio-16x9">
               <iframe src="{{ospf_summary}}" title="OSPF Summary">
               </iframe>
             </div>
          </div>
        </div>

        <div class="col-lg-12">
          <h4 class="accordion-header">
            <button class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#ospf-routes"
                aria-expanded="false"
                aria-controls="ospf-routes">
              <svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M12 12L4 4M4 4V8M4 4H8" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 12L20 4M20 4V8M20 4H16" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 12L4 20M4 20V16M4 20H8" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 12L20 20M20 20V16M20 20H16" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
              <span class="d-inline-block px-2 m-0 h4">OSPF Routes</span>
            </button>
          </h4>
          <div class="accordion-collapse collapse"
                id="ospf-routes">
             {# <pre class="border rounded bg-body-secondary mt-3 p-3">{{router.ospf_routes}}</pre> #}
             <div class="ratio ratio-16x9">
               <iframe src="{{ospf_routes}}" title="OSPF Routes">
               </iframe>
             </div>
          </div>
        </div>

        <div class="col-lg-12">
          <h4 class="accordion-header">
            <button class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#ospf-lsa"
                aria-expanded="false"
                aria-controls="ospf-lsa">
              <svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M12 12L4 4M4 4V8M4 4H8" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 12L20 4M20 4V8M20 4H16" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 12L4 20M4 20V16M4 20H8" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 12L20 20M20 20V16M20 20H16" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
              <span class="d-inline-block px-2 m-0 h4">OSPF LSA</span>
            </button>
          </h4>
          <div class="accordion-collapse collapse"
                id="ospf-lsa">
             <div class="ratio ratio-16x9">
               <iframe src="{{ospf_lsa}}" title="OSPF LSA">
               </iframe>
             </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>