{%- if peers.status_fully_routed_uvn %}
{%-   set classes="bg-success text-light" %}
{%- elif peers.local.reachable_networks | length > 0 %}
{%-   set classes="bg-warning text-dark" %}
{%- else %}
{%-   set classes="bg-danger text-light" %}
{%- endif %}
<div class="
    border-bottom border-2 border-dark
    fs-6
    py-1
    container-fluid
    shadow
    {{classes}}
    ">

  <div class="row">
    <div class="col-12 col-md-8 px-1">
      <div class="d-flex justify-content-center justify-content-md-start">
        <div class="d-none d-md-inline-block text-bg-dark me-2 py-1 px-2 border border-light-subtle rounded"
            id="info-button"
            style="font-size: 85%; cursor: pointer;"
            data-bs-toggle="modal"
            data-bs-target="#info">
            <i class="bi bi-info-lg"></i>
        </div>
        <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#info">
        </button> -->
        <h1 class="fs-6 m-0 pb-1 pb-sm-0 pt-2 text-center text-md-start">
          {{cell.name}} @ {{uvn_id.name}}
        </h1>
      </div>
    </div>
    <div class="col-12 col-md-4 px-1 d-none d-md-block">
      <!-- <div class="float-end pt-1"> -->
      <div class="d-flex justify-content-end">
        {% include "www/_vpn_stats_pills.html" with context %}
      </div>
    </div>
  </div>
</div>

<div class="container-fluid d-md-none bg-dark pb-2 p-1 shadow">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <div class="d-inline-block text-bg-dark ms-1 py-1 px-2 border border-light-subtle rounded"
            style="font-size: 85%; cursor: pointer;"
            data-bs-toggle="modal"
            data-bs-target="#info">
          <i class="bi bi-info-lg"></i>
        </div>
        {% include "www/_vpn_stats_pills.html" with context %}
      </div>
    </div>
  </div>
</div>
