[Unit]
Description=uno UVN registry network connection
Before=uvn-registry.service
After=docker.service
Wants=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/uvn-net root start
RemainAfterExit=true
ExecStop=/usr/local/bin/uvn-net root stop

[Install]
WantedBy=multi-user.target
