[Unit]
Description=uno UVN registry agent
After=uvn-net-registry.service
BindsTo=uvn-net-registry.service

[Service]
Type=notify
ExecStart=/usr/local/bin/uno agent --registry --systemd -v
KillSignal=SIGINT
PIDFile=/run/uno/uvn-agent.pid

[Install]
WantedBy=multi-user.target
