__pycache__
tmp
libuno.egg-info/
uvn-test
cell-test
.uvn*
.vscode
test-uvn.locahost
test-uvn.locahost.cells
*.whl
_build
dist
rti_license.dat
bkp
experiment
experiment.log
*.uvn-agent
uvn.networks
uno.db
.pytest_cache
.ruff_cache
venv
.venv
poetry.lock
build
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/uno.substvars
debian/uno/
debian/uno-static
debian/uno-static.substvars
debian-dist
build/
uno.spec
