__pycache__
tmp
libuno.egg-info/
uvn-test
cell-test
.uvn*
.vscode
test-uvn.locahost
test-uvn.locahost.cells
*.whl
_build
dist
rti_license.dat
bkp
experiment
experiment.log
*.uvn-agent
uvn.networks
uno.db
