<html>
    <head>
        {% set page_title = "UVN Registry - " + address|string %}
        {% include "www/common/head.html" with context %}
    </head>
    <body>
        <div>
            <h1>{{address}}</h1>
        </div>
        <div id="uvn">
            <h2>UVN Info</h2>
            <table>
                <tbody>
                    <tr>
                        <td class="key">
                            Address
                        </td>
                        <td class="value">
                            {{address}}
                        </td>
                    </tr>
                    <tr>
                        <td class="key">
                            Admin
                        </td>
                        <td class="value">
                            {{admin}}
                        </td>
                    </tr>
                    <tr>
                        <td class="key">
                            Cells
                        </td>
                        <td class="value">
                            {{cells|length}}
                        </td>
                    </tr>
                    <tr>
                        <td class="key">
                            Deployments
                        </td>
                        <td class="value">
                            {{deployments|length}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="cells">
            <h2>UVN Cells</h2>
            {% if cells %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Location</th>
                        <th>Admin</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in cells %}
                    <tr>
                        <td>{{c.id.name}}</td>
                        <td>{{c.id.address}}</td>
                        <td>{{c.id.location}}</td>
                        <td>{{c.id.admin}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>
                No cells yet.
            </p>
            {% endif %}
        </div>
        <div id="deployments">
            <h2>UVN Deployments</h2>
            <ul>
                {% for d in deployments %}
                <li>
                    {{d}}
                </li>
                {% else %}
                <li>No deployments yet.</li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>