<div id="config-particles"
    class="tab-pane fade pt-3"
    role="tabpanel"
    aria-labelledby="tab-config-particles"
    tabindex="0">
  {% with particles = uvn.particles.values() %}
  {% with title = "Particles" %}
  {% with icon = "car-front" %}
  {% with include_config = True %}
  {% include "www/_particles_table.html" with context %}
  {% endwith %}
  {% endwith %}
  {% endwith %}
  {% endwith %}

  {% with particles = uvn.excluded_particles.values() %}
  {% with title = "Banned Particles" %}
  {% with icon = "ban" %}
  {% include "www/_particles_table.html" with context %}
  {% endwith %}
  {% endwith %}
  {% endwith %}
</div>