<div id="config-cells"
    class="tab-pane fade pt-3"
    role="tabpanel"
    aria-labelledby="tab-config-cells"
    tabindex="0">
  {% with cells = uvn.cells.values() %}
  {% with title = "Cells" %}
  {% with icon = "house-lock" %}
  {% include "www/_cells_table.html" with context %}
  {% endwith %}
  {% endwith %}
  {% endwith %}

  {% with cells = uvn.excluded_cells.values() %}
  {% with title = "Banned Cells" %}
  {% with icon = "ban" %}
  {% include "www/_cells_table.html" with context %}
  {% endwith %}
  {% endwith %}
  {% endwith %}
</div>
