<div id="status-graphs"
    class="tab-pane fade pt-3 show active"
    role="tabpanel"
    aria-labelledby="tab-status-graphs"
    tabindex="0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-{%if backbone_plot_basic %}6{%else%}12{%endif%}">
        <h3 class="mb-2">
          <i class="fs-4 bi bi-easel"></i>
          <span class="d-inline ms-1 h4">Agents & Networks</span>
        </h3>
        <!-- <a href="{{backbone_plot}}" target="_blank"> -->
          <figure class="figure text-center">
            <img src="{{backbone_plot}}"
              alt="UVN Peers and Routed LANs Status"
              class="figure-img img-fluid"
              onclick="this.requestFullscreen()"
              title="Click to open in fullscreen">
            <!-- <figcaption class="figure-caption">UVN Peers and Routed LANs.</figcaption> -->
          </figure>
        <!-- </a> -->
      </div>
      {%if backbone_plot_basic %}
      <div class="col-sm-6">
        <h3 class="mb-2">
          <i class="fs-4 bi bi-easel"></i>
          <span class="d-inline ms-1 h4">Backbone Deployment</span>
        </h3>
        <!-- <a href="{{backbone_plot_basic}}" target="_blank"> -->
          <figure class="figure text-center">
            <img src="{{backbone_plot_basic}}"
              alt="UVN Backbone links"
              class="figure-img img-fluid"
              onclick="this.requestFullscreen()"
              title="Click to open in fullscreen">
            <!-- <figcaption class="figure-caption">UVN Backbone.</figcaption> -->
          </figure>
        <!-- </a> -->
      </div>
      {% endif %}
    </div>
  </div>
</div>