<div class="d-sm-none">
  <nav class="navbar navbar-expand bg-dark d-sm-none p-0">
    <div class="container-fluid">
      <ul class="navbar-nav" id="menu">
        <li class="nav-item">
          <a href="#" class="nav-link align-bottom text-white">
            <i class="fs-6 bi-house"></i>
            <span class="fs-6 d-none d-sm-inline">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link align-bottom text-white" href="#status">
            <i class="fs-6 bi bi-display"></i>
            <span class="fs-6 d-none d-sm-inline">Status</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#status-agents" class="nav-link align-bottom text-white">
            <i class="fs-6 bi bi-robot"></i>
            <span class="fs-6 d-none d-sm-inline">Agents</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#status-networks" class="nav-link align-bottom text-white">
            <i class="fs-6 bi bi-diagram-3"></i>
            <span class="fs-6 d-none d-sm-inline">Networks</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#status-vpns" class="nav-link align-bottom text-white">
            <i class="fs-6 bi bi-key"></i>
            <span class="fs-6 d-none d-sm-inline">VPN</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#status-router" class="nav-link align-bottom text-white">
            <i class="fs-6 bi bi-dpad"></i>
            <span class="fs-6 d-none d-sm-inline">Router</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link align-bottom text-white" href="#config">
            <i class="fs-6 bi bi-sliders2"></i>
            <span class="fs-6 d-none d-sm-inline">Settings</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#config-uvn" class="nav-link align-bottom text-white">
            <i class="fs-6 bi bi-building-lock"></i>
            <span class="fs-6 d-none d-sm-inline">UVN</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#config-cells" class="nav-link align-bottom text-white">
            <i class="fs-6 bi bi-house-lock"></i>
            <span class="fs-6 d-none d-sm-inline">Cells</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#config-particles" class="nav-link align-bottom text-white">
            <i class="fs-6 bi bi-car-front"></i>
            <span class="fs-6 d-none d-sm-inline">Particles</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#config-vpn" class="nav-link align-bottom text-white">
            <i class="fs-6 bi bi-lock"></i>
            <span class="fs-6 d-none d-sm-inline">VPN</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#config-backbone" class="nav-link align-bottom text-white">
            <i class="fs-6 bi bi-diagram-2"></i>
            <span class="fs-6 d-none d-sm-inline">Backbone</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#config-ports" class="nav-link align-bottom text-white">
            <i class="fs-6 bi bi-ethernet"></i>
            <span class="fs-6 d-none d-sm-inline">Ports</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>  
