[Unit]
Description=uno UVN cell network connection
Before=uvn-cell.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/uvn-net start
RemainAfterExit=true
ExecStop=/usr/local/bin/uvn-net stop

[Install]
WantedBy=multi-user.target
