[Unit]
Description=uno UVN cell agent
After=uvn-net-cell.service
BindsTo=uvn-net-cell.service

[Service]
Type=notify
ExecStart=/usr/local/bin/uno agent --systemd -v
KillSignal=SIGINT
PIDFile=/run/uno/uvn-agent.pid

[Install]
WantedBy=multi-user.target
