[Unit]
Description=uno root UVN connection

[Service]
Type=oneshot
ExecStart=/usr/local/bin/uvn-net root start
RemainAfterExit=true
ExecStop=/usr/local/bin/uvn-net root stop
Before=uvn-agent.service

[Install]
WantedBy=multi-user.target
