[Unit]
Description=uno UVN agent

[Service]
Type=notify
ExecStart=/usr/local/bin/uno agent --registry --systemd -vv
KillSignal=SIGINT
PIDFile=/run/uno/uvn-agent.pid
After=uvn-net.service
# Wants=uvn-net.service
BindsTo=uvn-net.service

[Install]
WantedBy=multi-user.target
