###############################################################################
# Cell {{agent.cell.name}}'s configuration for UVN {{agent.uvn_id.name}}
###############################################################################
# - Generated on {{generation_ts}}
# - Connects the cell to {{agent.backbone_vpns | length}} peers:
{%- for peer_vpn in agent.backbone_vpns %}
{%-  set peer = agent.peers[peer_vpn.config.peers[0].id] %}
#   - {{peer_vpn.config.intf.name}} ({{peer.cell.name}})
{%- endfor %}
{%- if agent.enable_root_vpn %}
{%-   if agent.cell.address %}
# - Creates a VPN interface to receive updates pushed by the registry
{%-   else %}
# - Creates a VPN interface to connect to the registry for updates.
{%-   endif %} ({{agent.root_vpn.config.intf.name}}).
{%- endif %}
{%- if agent.enable_particles_vpn %}
# - Creates a VPN interface to allow particle connections ({{agent.particles_vpn.config.intf.name}}).
{%- endif %}
{%- if agent.lans %}
# - Connects {{agent.lans|length}} local networks to the UVN:
{%- for lan in agent.lans %}
#   - {{lan.nic.name}} ({{lan.nic.subnet}})
{%- endfor %}
{%- endif %}
###############################################################################
UVN_CELL_VPN_INTERFACES="
{%- if agent.enable_root_vpn %}
{{agent.root_vpn.config.intf.name}}
{%- endif %}
{%- if agent.enable_particles_vpn %}
{{agent.particles_vpn.config.intf.name}}
{%- endif %}
{%- for backbone in agent.backbone_vpns %}
{{backbone.config.intf.name}}
{%- endfor %}
"

UVN_CELL_LAN_INTERFACES="
{%- for lan in agent.lans %}
{{lan.nic.name}}
{%- endfor %}
"

UVN_DEPLOYMENT="{{agent.deployment.generation_ts}}"
