{%- for vpn in vpn_interfaces | sort(attribute="config.intf.name") %}
{{vpn.config.intf.name}}={{vpn.config.intf.address}}/{{vpn.config.intf.netmask}},
{%-if vpn.config.intf.mtu%}{{vpn.config.intf.mtu}}{%endif%},
{%-if vpn.config.masquerade%}masquerade{%endif%},
{%-if vpn.config.forward%}forward{%endif%}
{%- endfor %}
