{%- if agent.enable_root_vpn %}
{{agent.root_vpn.config.intf.name}}={{agent.root_vpn.config.intf.address}}/{{agent.root_vpn.config.intf.netmask}}
{%- endif %}
{%- if agent.enable_particles_vpn %}
{{agent.particles_vpn.config.intf.name}}={{agent.particles_vpn.config.intf.address}}/{{agent.particles_vpn.config.intf.netmask}}
{%- endif %}
{%- for backbone_vpn in agent.backbone_vpns %}
{{backbone_vpn.config.intf.name}}={{backbone_vpn.config.intf.address}}/{{backbone_vpn.config.intf.netmask}}
{%- endfor %}
