[Unit]
Description=UVN agent.

[Service]
#Type=simple
Type=notify
ExecStart=/usr/local/bin/uvn cell agent --systemd -W -r {{root}} -vv
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
