[Unit]
Description=UVN cell connection

[Service]
Type=oneshot
ExecStart={{static_dir}}/uno.sh start
RemainAfterExit=true
ExecStop={{static_dir}}/uno.sh stop

[Install]
WantedBy=multi-user.target
