[Unit]
Description=uno agent to connect a cell to a UVN.

[Service]
#Type=simple
Type=notify
ExecStart=/usr/local/bin/uvn cell agent -s -W -r /etc/uvn -v
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target