[Unit]
Description=uno agent to connect a cell to a UVN.

[Service]
Type=simple
ExecStart=/usr/local/bin/uvn cell agent -W -r /etc/uvn -v

[Install]
WantedBy=multi-user.target