name: Deb Release (Build & Test)
run-name: |
  deb release (build & test) [${{github.ref_name}}]

on:
  workflow_dispatch:
    inputs:
      base-tag:
        description: Base distribution image
        type: string
        required: true
      platform:
        description: Build platform
        type: string
        required: true
      pull-request:
        description: Treat ref as a pull request
        type: boolean
        default: false

  workflow_call:
    inputs:
      base-tag:
        type: string
        required: true
      platform:
        type: string
        required: true
      pull-request:
        type: boolean
        default: false

concurrency:
  group: deb-release-${{ github.ref }}-${{inputs.platform}}-${{inputs.base-tag}}
  cancel-in-progress: true

permissions:
  packages: read
  contents: read

jobs:
  config:
    runs-on: ubuntu-latest
    outputs:
      BASE_IMAGE: ${{ steps.config.outputs.BASE_IMAGE }}
      DEB_ARTIFACT: ${{ steps.config.outputs.DEB_ARTIFACT }}
      DEB_BUILDER_TAG: ${{ steps.config.outputs.DEB_BUILDER_TAG }}
      RTI_LICENSE_FILE: ${{ steps.config.outputs.RTI_LICENSE_FILE }}
      RUNNER: ${{ steps.config.outputs.RUNNER }}
      TEST_ARTIFACT: ${{ steps.config.outputs.TEST_ARTIFACT }}
      TEST_DATE: ${{ steps.config.outputs.TEST_DATE }}
      TEST_ID: ${{ steps.config.outputs.TEST_ID }}
      TEST_IMAGE: ${{ steps.config.outputs.TEST_IMAGE }}
      TEST_RUNNER_ARTIFACT: ${{ steps.config.outputs.TEST_RUNNER_ARTIFACT }}
    steps:
      - name: Clone uno
        uses: actions/checkout@v4
        with:
          path: src/uno
          submodules: true
      
      - name: Generate build configuration
        id: config
        run: |
          case "${{ inputs.platform }}" in
            amd64)
              runner='"ubuntu-latest"'
              ;;
            arm64)
              runner='["self-hosted", "linux", "arm64", "rpi5"]'
              ;;
          esac
          case "${{github.ref_type}}" in
            tag)
              image_version=${{github.ref_name}}
              ;;
            *)
              sha_short=$(cd src/uno && git rev-parse --short HEAD)
              image_version=${{github.ref_name}}@${sha_short}
              ;;
          esac
          deb_builder_tag=$(echo ${{inputs.base-tag}} | tr : - | tr / -)
          case "${{ inputs.pull-request }}" in
            true)
              rti_license_file=${{ github.workspace }}/src/uno/rti_license.dat
              base_image=ghcr.io/mentalsmash/uno-ci-base-tester:${deb_builder_tag}
              ;;
            false)
              rti_license_file=${{ github.workspace }}/src/uno-ci/docker/base-tester/resource/rti/rti_license.dat
              base_image=${{ inputs.base-tag }}
              ;;
          esac
          image_version="$(echo ${image_version} | tr / -)"
          test_date=$(date +%Y%m%d-%H%M%S)
          test_id=deb-${deb_builder_tag}-${{ inputs.platform }}__${image_version}
          test_artifact=uno-test-${test_id}__${test_date}
          test_runner_artifact=uno-runner-${deb_builder_tag}-${{ inputs.platform }}__${image_version}__${test_date}
          deb_artifact=uno-deb-${deb_builder_tag}-${{ inputs.platform }}__${image_version}__${test_date}
          (
            echo RUNNER=${runner}
            echo BASE_IMAGE=${base_image}
            echo DEB_BUILDER_TAG=${deb_builder_tag}
            echo DEB_ARTIFACT=${deb_artifact}
            echo TEST_ARTIFACT=${test_artifact}
            echo TEST_DATE=${test_date}
            echo TEST_ID=${test_id}
            echo TEST_IMAGE=mentalsmash/uno-test-runner:latest
            echo TEST_RUNNER_ARTIFACT=${test_runner_artifact}
            echo RTI_LICENSE_FILE=${rti_license_file}
          ) >> ${GITHUB_OUTPUT}

  build-packages:
    needs: config
    runs-on: ${{ fromJson(needs.config.outputs.RUNNER) }}
    steps:
    - name: Clone uno
      uses: actions/checkout@v4
      with:
        path: src/uno
        submodules: true

    - name: Log in to GitHub
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build debian packages
      run: |
        make -C src/uno changelog
        make -C src/uno debuild
      env:
        DEB_BUILDER: ghcr.io/mentalsmash/uno-ci-debian-builder:${{ needs.config.outputs.DEB_BUILDER_TAG }}
  
    - name: Upload debian packages
      uses: actions/upload-artifact@v4
      with:
        name: ${{ needs.config.outputs.DEB_ARTIFACT }}
        path: src/uno/debian-dist/*

    - name: Upload test runner
      uses: actions/upload-artifact@v4
      with:
        name: ${{ needs.config.outputs.TEST_RUNNER_ARTIFACT }}
        path: src/uno/dist/bundle/default/runner

    - name: Fix permissions
      run: |
        docker run --rm \
          -v $(pwd)/src/uno:/uno \
          ghcr.io/mentalsmash/uno-ci-debian-builder:${{ needs.config.outputs.DEB_BUILDER_TAG }} \
          chown -R $(id -u):$(id -g) /uno
      if: always()

  test-packages:
    needs:
      - config
      - build-packages
    runs-on: ${{ fromJson(needs.config.outputs.RUNNER) }}
    env:
      DEB_TESTER: ${{ needs.config.outputs.TEST_IMAGE }}
      FIX_DIR: ${{ github.workspace }}
      RTI_LICENSE_FILE: ${{ needs.config.outputs.RTI_LICENSE_FILE }}
      TEST_DATE: ${{ needs.config.outputs.TEST_DATE }}
      TEST_ID: ${{ needs.config.outputs.TEST_ID }}
      TEST_IMAGE: ${{ needs.config.outputs.TEST_IMAGE }}
    steps:
    - name: Clone uno
      uses: actions/checkout@v4
      with:
        path: src/uno
        submodules: true

    - name: Clone support files
      uses: actions/checkout@v4
      if: ${{ !inputs.pull-request }}
      with:
        repository: mentalsmash/uno-ci
        token: ${{ secrets.UNO_CI_PAT }}
        ref: master
        path: src/uno-ci

    - name: Download runner artifact
      uses: actions/download-artifact@v4
      with:
        pattern: ${{ needs.config.outputs.TEST_RUNNER_ARTIFACT }}

    - name: Download debian packages artifact
      uses: actions/download-artifact@v4
      with:
        pattern: ${{ needs.config.outputs.DEB_ARTIFACT }}

    - name: Move artifacts in place
      run: |
        mkdir -p src/uno/dist/bundle/default/runner
        mv -v ${{ needs.config.outputs.TEST_RUNNER_ARTIFACT }}/* \
          src/uno/dist/bundle/default/runner/

        mkdir -p src/uno/debian-dist
        mv -v ${{ needs.config.outputs.DEB_ARTIFACT }}/* \
          src/uno/debian-dist/

    - name: Log in to GitHub
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build tester image
      uses: docker/build-push-action@v5
      with:
        file: src/uno/docker/debian-tester/Dockerfile
        tags: ${{ needs.config.outputs.TEST_IMAGE }}
        load: true
        context: src/uno
        build-args: |
          BASE_IMAGE=${{ needs.config.outputs.BASE_IMAGE }}

    - name: Set up integration tests
      if: ${{ inputs.pull-request }}
      run: |
        make -C src/uno extract-license

    - name: Run integration tests
      run: |
        make -C src/uno debtest
      env:
        DEBUG: ${{ runner.debug }}

    - name: Restore permissions changed by integration tests
      if: always()
      run: |
          make -C src/uno fix-file-ownership

    # Always collect and upload available test results
    - name: Upload test results
      uses: actions/upload-artifact@v4
      with:
        name: ${{ needs.config.outputs.TEST_ARTIFACT }}
        path: src/uno/test-results/*
      if: always()

