name: Cleanup Workflows
run-name: |
  cleanup workflows [${{inputs.query}}]

on:
  workflow_dispatch:
    inputs:
      query:
        description: "fzf filter to select workflows to deleted"
        type: string
        required: true
      noop:
        description: "check the filter without deleting anything"
        type: boolean
        default: true


concurrency:
  group: workflow-cleanup
  cancel-in-progress: false

permissions:
  actions: write
  packages: read

env:
  ADMIN_IMAGE: ghcr.io/mentalsmash/uno-ci-admin:latest

jobs:
  cleanup_jobs:
    runs-on: ubuntu-latest
    steps:
      - name: Clone uno
        uses: actions/checkout@v4
        with:
          path: src/uno
          submodules: true
      
      - name: Log in to GitHub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: "Clean up workflow runs"
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/workspace \
            -e GH_TOKEN=${GH_TOKEN} \
            ${{ inputs.noop && '-e NOOP=y' || '' }} \
            ${ADMIN_IMAGE} \
            /workspace/src/uno/scripts/cleanup_workflows.sh \
              ${{ github.repository}} \
              '${{ inputs.query }}'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

